@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}
/* 1st part */
.header-section {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.nav-container {
    min-height: 20px;
    display: flex;
    align-items: center;
    width: 50%;
}

.nav-container img {
    width: 90px;
}

.nav-container p {
    color: #131318;
    font-family: Mulish;
    font-size: 30px;
    font-weight: 800;
}

.special {
    color: #FF5400;
    font-family: Mulish;
    font-size: 30px;
    font-weight: 800;
}

.item-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-container a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
}

.item-container .home a {
    color: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
}
/* 2nd part */
.banner-image {
    background: url('../Images/Group\ 13.png') no-repeat center;
    width: 1200px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
}

.banner-content {
    position: relative;
    background-size: contain;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.banner-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.banner-discription {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}
.filter {
    padding: 15px;
    background: rgba(255, 255, 255, 0.315);
    margin-top: 20px;
}

.filter form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.filter .item {
    width: 25%;
    display: block;
    height: 40px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    border: 0;
    font-weight: 400;
}
.find{
    background: #FF5400;
    color: #fff !important;
}

/* popular 3rd part */
.popular{
    width: 1200px;
    height: 600px;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.popular-content{
    width: 50%;
}
.section-title{
    color: #131318;
font-family: Mulish;
font-size: 35px;
font-weight: 800;
}
.section-discription{
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
padding-top: 25px;
}
.popular-content ul{
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
width: 500px;
padding-top: 20px;
padding-left: 20px;
}
.popular-content p{
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
padding-top: 20px;
padding-bottom: 25px;
}
.btn-primary{
    width: 150px;
height: 40px;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.popular-img{
    width: 550px;
    height: 500px;
    width: 100%;
    width: 50%;
    padding-left: 110px;
}
/* 4th part */
.visit-title{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-weight: 800;
line-height: normal;
margin-top: 50px;
}
.visit-discription{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
padding: 20px;
}
.pictures{
    width: 1200px;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.pictures img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.grid-item-1{
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}
.grid-item-2{
    grid-column: 7/span 6;
    grid-row: 1/span 1;
}
.grid-item-3{
    grid-column: 1/span 4;
    grid-row: 2/span 1;
}
.grid-item-4{
    grid-column: 5/span 5;
    grid-row: 2/span 1;
}
.grid-item-5{
    grid-column: 10/span 3;
    grid-row: 2/span 1;
}
.grid-item-6{
    grid-column: 1/span 5;
    grid-row: 3/span 1;
}
.grid-item-7{
    grid-column: 6/span 7;
    grid-row: 3/span 1;
}
/* 6th part */
.newsletter{
    width: 1200px;
    height: 500px;
    background: url('../Images/Rectangle\ 8\ \(1\).png');
    background-repeat: no-repeat;
    margin:0 auto;
    border: 2px solid red;
    margin-top: 50px;
}
.news-title{
    color: #131318;
font-family: Mulish;
font-size: 24px;
font-weight: 800;
}
.news-discription{
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.box-item{
    border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
/* width: 30%; */
background: 2px solid blue;
display: grid;
grid-template-columns: repeat(1,1fr);
}



/* footer 7th part*/
.world-container{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    background: rgba(19, 19, 24, 0.05);
    border-radius: 16px;
}
.footer-container {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    
    
    
}
.footer-container img {
    width: 70px;
}
.footer-container {
    color: #131318;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
}
.span {
    color: #FF5400;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
}


.footer-discription {
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 20px;
}

.footer-images-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
hr{
    padding-bottom: 50px;
}
.copyright{
    color: #131318;
font-family: Inter;
font-size: 16px;
font-weight: 300;
text-align: center;
padding-bottom: 110px;
}