@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}
/* 1st part */
.header-section {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.nav-container {
    min-height: 20px;
    display: flex;
    align-items: center;
    width: 50%;
}

.nav-container img {
    width: 90px;
}

.nav-container p {
    color: #131318;
    font-family: Mulish;
    font-size: 30px;
    font-weight: 800;
}

.special {
    color: #FF5400;
    font-family: Mulish;
    font-size: 30px;
    font-weight: 800;
}

.item-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-container a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
}

.item-container .home a {
    color: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
}
/* 2nd part */
.banner-image {
    background: url('../Images/Group\ 13.png') no-repeat center;
    width: 1200px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
}

.banner-content {
    position: relative;
    background-size: contain;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.banner-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.banner-discription {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}
.filter {
    padding: 15px;
    background: rgba(255, 255, 255, 0.315);
    margin-top: 20px;
}

.filter form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.filter .item {
    width: 25%;
    display: block;
    height: 40px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    border: 0;
    font-weight: 400;
}
.find{
    background: #FF5400;
    color: #fff !important;
}

/* popular 3rd part */
.popular{
    width: 1200px;
    height: 600px;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.popular-content{
    width: 50%;
}
.section-title{
    color: #131318;
font-family: Mulish;
font-size: 35px;
font-weight: 800;
}
.section-discription{
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
padding-top: 25px;
}
.popular-content ul{
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
width: 500px;
padding-top: 20px;
padding-left: 20px;
}
.popular-content p{
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
padding-top: 20px;
padding-bottom: 25px;
}
.btn-primary{
    width: 150px;
height: 40px;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.popular-img{
    width: 550px;
    height: 500px;
    width: 100%;
    width: 50%;
    padding-left: 110px;
}
/* 4th part */
.visit-title{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-weight: 800;
line-height: normal;
margin-top: 50px;
}
.visit-discription{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
padding: 20px;
}
.pictures{
    width: 1200px;
    height: 600px;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width: 100%;
}
.pictures .row-0ne{
    display: grid;
    grid-template-columns:2, 1fr;
    gap: 1.5rem;
}
.pictures .row-two{
    display: grid;
    grid-template-columns: 3, 1fr;
    gap: 1.5rem;
}
.pictures .row-three{
    display: grid;
    grid-template-columns: 2, 1fr;
    gap: 1.5rem;
}